body{
 margin:0;
 font-family:'Segoe UI',sans-serif;
 background:#050b2e;
 color:white;
 overflow:hidden;
 transition:0.4s;
}

body.light{
 background:#f2f5ff;
 color:#111;
}

.bg{
 position:fixed;
 width:100%;
 height:100%;
 background:radial-gradient(circle at top,#2b3cff,#02051c);
 animation:glow 6s infinite alternate;
}

body.light .bg{
 background:radial-gradient(circle at top,#ffffff,#bcd2ff);
}

@keyframes glow{
 0%{filter:brightness(1);}
 100%{filter:brightness(1.3);}
}

.container{
 position:relative;
 max-width:420px;
 margin:auto;
 padding:20px;
 text-align:center;
}

.toggle{
 position:absolute;
 right:20px;
 top:20px;
 border:none;
 background:#5f8cff;
 color:white;
 padding:10px 14px;
 border-radius:50%;
 cursor:pointer;
}

.header{
 background:rgba(255,255,255,0.12);
 backdrop-filter:blur(15px);
 padding:25px;
 border-radius:25px;
 box-shadow:0 0 35px rgba(0,150,255,0.5);
}

.header h1{
 margin:0;
 font-size:30px;
}

.prn{color:#9fb7ff;}
.college{font-size:14px;opacity:0.8;}

.slider{
 margin:30px 0;
 display:flex;
 justify-content:center;
}

.slider img{
 width:100%;
 max-width:260px;   /* smaller width */
 max-height:360px;  /* limit height so it doesn't push down */
 object-fit:cover;
 border-radius:22px;
 box-shadow:0 12px 40px rgba(0,0,0,0.7);
}


.buttons{margin-bottom:20px;}

.info{
 margin-top:10px;      /* less gap */
 padding:15px;
 border-radius:18px;
 background:rgba(255,255,255,0.12);
 backdrop-filter:blur(10px);
}


button{
 background:linear-gradient(45deg,#5f8cff,#9f7bff);
 border:none;
 padding:12px 24px;
 margin:10px;
 border-radius:30px;
 color:white;
 cursor:pointer;
 box-shadow:0 6px 25px rgba(120,120,255,0.7);
}
